body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
  
ol, ul {
  padding-left: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px;
  background: #fff;

}

.kbd-navigation {
  background: #ddd;
}

.search-container {
  margin-bottom: 20px;
}